body{
	/*font-family: 'Raleway', sans-serif;*/
  font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.center {
	text-align: center;
}
.wrapper {
	width: 100%;
	max-width: 1170px;
	margin: 0px auto;
	position: relative;
}
.header {
	padding-bottom: 214px;
	background-image: url(../img/BG.png);
	/*background-size: contain;
	background-repeat: no-repeat; */
}
.nav-top {
	display: flex; 
	justify-content: space-between;
	align-items: center;
	padding-top: -9px;
	padding-bottom: 7px;
}
.info {
	display: flex;
	padding-left: 0;
	list-style-type: none;
	align-items: center;

}
.info-item,
.info-link {
	color: rgba(255,255,255,0.3);
	font-size: 14px;
}
.info-link:hover {
	color: #30a3f0;
}
.info-left .info-item {
	margin-right: 29px;
}
.info-right .info-item {
	margin-left: 6px;
}
.info-link {
	text-decoration: none;
}
.info-link svg {
	color: #30a3f0;
	margin-right: 11px;
}
.register::before {  /*Ãƒâ€˜Ã‚ÂÃƒÂÃ‚Â»ÃƒÂÃ‚ÂµÃƒâ€˜Ã‹â€ */
	content: '/';
	margin-right: 6px;
}
.nav-btn {
	background-color: transparent;
	border: none;
}
.nav-btn svg {
	color: #444444;
	padding: 0;
}
.logo {
	width: 158px;
}
.head { /*nav*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap; /*for media*/
	padding: 26px 40px 25px;
	margin-bottom: 220px;
	background-color: #fff;
	padding-top: -31px;
}
.nav {
	list-style-type: none;
	padding-left: 0px;
	display: flex;
}
.nav-item {
	margin-left: 9px;  /*46-19padding-19*/
}
.nav-item:first-child {
	margin-left: 0;
}
.nav-item-btn {
	margin-left: 5px;
}
.nav-link {
	color: #444444;
	text-decoration: none;
	padding: 11px 19px 12px; 
	border: 1px solid transparent;
}
.nav-link.active {
	color: #30a3f0;
	border: 1px solid #30a3f0;
	border-radius: 5px;
	padding: 6px 19px 9px;
}
.nav-link:hover {
	color: #30a3f0;
	border-radius: 5px;
}
.title {
	margin-bottom: 51px;
}
.title p {
	color: #30a3f0;
	font-size: 18px;
	margin-top: -5px;
	letter-spacing: 0.3px;
}
.title h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 45px;
	line-height: 60px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	max-width: 720px;
	margin: -11px auto;
}
.element{
	/*element ÃƒÂÃ‚Â³ÃƒÂÃ‚Â¾Ãƒâ€˜Ã¢â€šÂ¬ÃƒÂÃ‚Â¸ÃƒÂÃ‚Â·ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â½Ãƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â°ÃƒÂÃ‚Â»Ãƒâ€˜Ã…â€™ÃƒÂÃ‚Â½ÃƒÂÃ‚Â°Ãƒâ€˜Ã‚Â ÃƒÂÃ‚Â»ÃƒÂÃ‚Â¸ÃƒÂÃ‚Â½ÃƒÂÃ‚Â¸Ãƒâ€˜Ã‚Â*/
	width: 1px;
	height: 100px;
	margin: 0px auto;
	background-color: #30a3f0;
}
.page-bg .element-top {
	margin-top: 34px;
}
.page-bg .title p {
	margin-bottom: 36px;
}
.element-top {
	margin-bottom: 29px;
}
.element-bottom {
	margin-top: 32px;
}
.btn {
	color: #30a3f0;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	/* margin-top: -49px; */
	padding: 16px 35px;
	text-decoration: none;
	border: 1px solid #30a3f0;
	border-radius: 5px;
	transition: background-color 0.5s linear, color 0.2s ease;
}
.btn:hover {
	background-color: #30a3f0;
	color: #fff;
}
.page-line {
	border-bottom: 1px solid #e4e4e4;
	/* margin-bottom: -62px; */
	padding-bottom: -36px;
}
.page-grey {
	background-color: #fafafa;
	padding-top: 73px;
	padding-bottom: 57px;/*57*/
	/* margin-bottom: 20px; */
}

.page-grey-2 {
	padding-bottom: 0px;
}
.page-company {
	background-color: #fdfdfd;
	padding-top: 127px;
	padding-bottom: 117px;
}
.box {
	display: flex;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}
.box-item {
	flex-basis: 33.333%;
	padding: 93px 60px 88px;
}
.box-item-center {
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}
.box h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}
.title-h2 {
	font-size: 30px;
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	margin-bottom: 13px;
}
.title-h2 span {
	font-size: 16px;
	color: #30a3f0;
	display: block;
	font-weight: 400;
	text-transform: initial;
	margin-bottom: 16px;
}
.line {
	display: block;
	width: 53px;
	height: 16px;
	background-image: url(../img/line.svg);
	background-repeat: no-repeat;
	margin-bottom: 29px;
}
.line-center {
	display: block;
	width: 90px;
	height: 14px;
	background-image: url(../img/line-center.svg);
	background-repeat: no-repeat;
	margin: 0px auto 17px;
}

.decription {
	color: #707070;
	line-height: 26px;
}
.decription-second {
	margin-top: 26px;
}
.page-grey .decription,
.page-team .decription,
.page-blog .decription {
	max-width: 690px;
	margin: 0 auto;
}
.list-decription {
	color: #222222;
	padding-left: 0;
	list-style-type: none;
	/* text-align: center; */
	margin-top: 37px;
	margin-bottom: 52px; /*+20 Ãƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â°ÃƒÂÃ‚Âº ÃƒÂÃ‚ÂºÃƒÂÃ‚Â°ÃƒÂÃ‚Âº Ãƒâ€˜Ã‚ÂÃƒâ€˜Ã¢â‚¬Â¡ÃƒÂÃ‚Â¸Ãƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â°ÃƒÂÃ‚ÂµÃƒÂÃ‚Â¼ ÃƒÂÃ‚Â¾Ãƒâ€˜Ã¢â‚¬Å¡ Ãƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚ÂµÃƒÂÃ‚ÂºÃƒâ€˜Ã‚ÂÃƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â°*/
}
.list-decription > li {
	margin-bottom: 22px;
	color: #222222;
	padding-left: 37px;
	position: relative;
}
.list-decription > li::before {
	content: '';
	display: block;
	width: 16px;
	height: 14px;
	background-image: url(../img/checkMark.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 0;
	top: calc(50%-7px);
}
.page-mockup {
	margin-top: 98px;
	padding-bottom: 116px;
}
.mockup {
	display: block;
	width: 625px;
	height: 557px;
	background-image: url(../img/mockup.png);
	background-size: contain; 
	background-repeat: no-repeat;
	position: absolute;
	right: -78px;
	bottom: 0;
}
.btn-blue{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #30a3f0;
	padding: 15px 39px;
	border: 1px solid #30a3f0;
	border-radius: 5px;
	transition: background-color 0.5s linear, color 0.2s ease;
	letter-spacing: 1px;
}
.btn-blue:hover {
	background-color: #fff;
	border: 1px solid #30a3f0;
	border-radius: 5px;
	color: #30a3f0;
}
.box-text {
	max-width: 527px;
}
.box-icon {
	width: 152px;
	height: 152px;
	font-size: 40px;
	color: #222222;
	line-height: 3.5;
	background-image: url(../img/grey.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin: -3px auto 26px;
}
.box-icon-pen {
	font-size: 30px;
	line-height: 4.8;
}
.box-item:hover .box-icon{
	background-image: url(../img/blue.png);
	color: #fff;
}
.photo {
	display: flex;
	/* margin-top: 33px; */
}
.photo-item {
	overflow: hidden;
	flex-basis: 20%;
	height: 350px;
	position: relative;
}
.photo-item img {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	height: 350px;
	z-index: -1;
}
.photo-text {
	position: absolute;
	width: 100%;
	text-align: center;
	top: calc(40%);
	/*top: calc(50%-30px);/*ÃƒÂÃ‚Â½ÃƒÂÃ‚Âµ Ãƒâ€˜Ã¢â€šÂ¬ÃƒÂÃ‚Â°ÃƒÂÃ‚Â±ÃƒÂÃ‚Â¾Ãƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â°ÃƒÂÃ‚ÂµÃƒâ€˜Ã¢â‚¬Å¡*/
	display: none;
}
.photo-text h3 {
	font-size: 22px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	margin-bottom: 14px;
	margin-top: 0;
	text-transform: uppercase;
}
.photo-text p {
	color: #707070;
	margin-bottom: 0;
}
.photo-btn {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	right: 0;
	bottom: 11px;
	display: none;
}
.photo-btn a {
	color: #000;
	background-color: #fff;
	padding: 22px 22px;
}
.photo-btn .photo-btn-blue {
	color: #fff;
	background-color: #30a3f0;
}
.photo-item:hover {
	background-color: rgba(34,34,34,0.8);
}
.photo-item:hover .photo-text {
	display: block;	
}
.photo-item:hover .photo-btn {
	display: block;	
}
.grid {
	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	grid-gap: 105px 47px;
	margin-top: 122px;
	margin-bottom: 116px;
}
.grid h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: -5px;
	margin-top: 0;
}
.grid .decription{
	margin-bottom: 0;
}
/*ÃƒÂÃ‚Â´ÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â ÃƒÂÃ‚Â¿ÃƒÂÃ‚Â¾Ãƒâ€˜Ã‚ÂÃƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â°ÃƒÂÃ‚Â½ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â²ÃƒÂÃ‚ÂºÃƒÂÃ‚Â¸ ÃƒÂÃ‚Â² Ãƒâ€˜Ã‚ÂÃƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â¾Ãƒâ€˜Ã¢â‚¬Â¡ÃƒÂÃ‚ÂºÃƒâ€˜Ã†â€™*/
.grid-line { 
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.box-icon-min {
	font-size: 24px;
	width: 96px;
	height: 96px;
	background-size: 96px 96px;
	flex-basis: 96px;
	text-align: center;
	line-height: 3.8;
	margin: initial;
}
.grid-line-text {
	/*flex-basis: calc(100%-96px);*/
	flex-basis: 232px;
}
.grid-line:hover .box-icon{
	background-image: url(../img/blue0.png);
	color: #fff;
}
.page-bg {
	background-image: url(../img/bg2.png);
	background-size: cover;
	padding-top: 86px;
	padding-bottom: 112px;
}
.page-bg .title {
	margin-bottom: 0px;
}
.page-bg .title h1 {
	margin-bottom: 45px;
}
.page-bg .element-bottom {
	margin-top: 53px;
}
.page-team {
	padding-top: 70px;
	padding-bottom: 87px;
}
.team {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 57px;
}
.team-item {
	flex-basis: 32%;
}
.team-thumb {
	margin-bottom: 34px;
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 370px;
}
.team-thumb img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	z-index: -1;
}
.team-item:hover .team-thumb {
	background-color: rgba(255, 255, 255, 0);
}
.team-position {
	font-size: 14px;
	color: #30a3f0;
	margin-bottom: -10px;
}
.team-name {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #222222;
	font-size: 20px;/**/
	margin-bottom: 8px;
}
.team-social {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	justify-content: center;
	margin-top: 26px;
}
.team-social-item {
	margin-right: 5px;
	margin-left: 5px;
}
.team-social-item >a {
	color: #c9c9c9;
	text-decoration: none;
	background-image: url(../img/grey.png);
	background-size: 40px 40px;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 14px;
	line-height: 2.8;
}
.team-social-item >a:hover {
	color: #fff;
	background-image: url(../img/blue0.png);
}
.screen {
	margin-top: 57px;
	width: 100%;

}
.page-stat {
	background-color: #111111;
	color: #fff;
	padding-top: 109px;
	padding-bottom: 103px;
	margin-top: -3px;
}
.box-stat {
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.box-stat svg {
	color: #30a3f0;
	font-size: 54px;
}
.box-stat h3 {
	font-weight: 700;
	font-size: 50px;
	margin-top: 36px;
	margin-bottom: 0;
}
.box-stat h3 span {
	color: #707070;
	font-weight: 400;
	display: block;
	font-size: 16px;
	margin-bottom: 16px;
}
.blog {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr ;
	grid-gap: 30px;
	margin-top: 60px;
}
.blog-flex {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
}
.page-blog {
	margin-top: 100px;
	margin-bottom: 100px;
}
/*down eye*/
.thumb-blog-eye {
	position: absolute;
	/*display: flex;
	justify-content: center;
	margin: 145px 112px 165px;*/
	width: 100%;
	text-align: center;
	top: calc(40%);
	display: none;
}
.thumb-blog-eye svg {
	color: #fff;
	font-size: 50px;
}

/**/
.thumb-blog {
	position: relative;
	width: 285px;
	flex-basis: 285px;
	overflow: hidden;

}
.thumb-blog img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	z-index: -1;
}
.thumb-blog:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
.thumb-blog:hover .thumb-blog-eye{
	display: block;
}

.thumb-blog::after {
	content: '';
	background-image: url(../img/triangle.png);
	width: 21px;
	height: 42px;
	display: block;
	position: absolute;
	right: 0;
	top: 39px;
}
/**/
/*.blog-share button > i {
	margin-right: 100px;
}*/
.blog-share {
	position: absolute;
	/*display: flex;
	justify-content: flex-end;*/
	/*left: 68px;
	bottom: 23px;*/
	
	bottom: 25px;
	left: 60px;
}
.blog-share button {
	background-color: #fff;
	color: #707070;
	padding: 9px 13px;
	list-style-type: none;
	border: 1px solid #fff;
	border-radius: 5px;/**/
}
.blog-share .comments {
	background-color: #30a3f0;
	color: #fff;
	margin-right: 20px;
	border: 1px solid #30a3f0;
	border-radius: 5px;
}
/**/
.text-blog {
	padding: 45px 37px 50px;
	background-color: #fafafa;
	/*flex-basis: calc(100%-285px);*/
	flex-basis: 285px;
}
.text-blog h3 {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	margin-top: 0;
}
.text-blog ul {
	list-style-type: none;
	padding-left: 0;
	text-transform: uppercase;
	color: #444444;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 27px;
}
.text-blog ul > li {
	padding-right: 17px;
	margin-right: 19px;
	border-right: 1px solid #707070;
}
.text-blog ul > li:last-child {
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}
.text-blog ul > li > a {
	color: #444444;
	text-decoration: none;
}
.text-blog p{
	color: #444444;
	line-height: 26px;
}
.text-blog a {
	text-decoration: none;
	color: #30a3f0;
}
.text-blog a span{
	margin-right: 10px;
}
.company {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.company-item {
	display: block;
	background-image: url(../img/company.png);
	background-repeat: no-repeat;
	height: 93px;

}
.company-one {
	width: 118px;
	flex-basis: 118px;
	background-position: -17px center;
}
.company-two {
	width: 126px;
	flex-basis: 126px;
	background-position: -213px center;
}
.company-three {
	width: 96px;
	flex-basis: 96px;
	background-position: -428px center;
}
.company-four {
	width: 122px;
	flex-basis: 122px;
	background-position: -616px center;
}
.company-five {
	width: 92px;
	flex-basis: 92px;
	background-position: -831px center;
}
.company-six {
	width: 130px;
	flex-basis: 130px;
	background-position: -1012px center;
}
.footer {
	background-color: #151515;
}
.btn-footer {
	background-color: #1a1a1a;
	color: #707070;
	font-size: 21px;
	width: 47px;
	height: 34px;
	display: block;
	margin: 0 auto;
	border: none;
	cursor: pointer;
}
.btn-footer:focus {
	outline: none;
}
.footer-bg {
	background-color: #1a1a1a;
	padding-top: 19px;
	padding-bottom: 28px;
}
.footer-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	color: rgba(255,255,255,0.3);
}
.footer-list {
	display: flex;
	list-style-type: none;
	padding-left: 0;

}
.footer-list >li {
	padding-left: 24px;
	margin-left: 22px;
	border-left: 1px solid #3a3a3a;
}
.footer-list >li:first-child {
	padding-left: 0;
	margin-left: 0;
	border-left: none;
}
.footer-list >li >a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.3);
}
@media (max-width: 1380px) {
	.mockup {
		width: 500px;
		height: 447px;
		right: 30px;
	}
}
@media (max-width: 1300px) {
	.wrapper {
		max-width: 900px;
	}
	.head {
		flex-wrap: wrap;
		justify-content: center;
		padding: 23px 40px 23px;

	}
	.nav {
		margin-top: 28px;
	}
	.box-item {
		padding: 60px 30px 60px;
	}
	.mockup {
		width: 388px;
		height: 346px;
		right: 15px;
	}
	.blog {
		grid-template: 1fr 1fr 1fr 1fr/1fr;
		margin-right: 257px;
	}
}
@media (max-width: 992px) {
	.wrapper {
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
	} 
	.header {
		padding-bottom: 80px;
	}
	.head {
		padding: 23px 40px 16px;
		margin-bottom: 80px;
	}
	nav {
		flex-basis: 100%;
	}
	.nav {
		justify-content: center;
		margin: 19px auto 0;
		flex-wrap: wrap;
	}
	.nav-link, .nav-link-active {
		padding: 6px 10px 9px;
	}
	.nav-item {
		margin-left: 0;
		margin-bottom: 11px;
	}
	.nav-item-btn {
		margin-left: 15px;
	}
	.title p {
		font-size: 16px;
	}
	.title h1 {
		font-size: 35px;
		line-height: 47px;
		max-width: 552px;
	}
	.btn, .btn-blue {
		font-size: 12px;
	}
	.title-h2 {
		font-size: 28px;
	}
	.title-h2 span {
		font-size: 14px;
		margin-bottom: 12px;
	}
	.box-stat h3 span{
		font-size: 14px;
		margin-bottom: 10px;
	}
	.box-stat h3 {
		font-size: 35px;
	}
	.photo {
		flex-wrap: wrap;
	}
	.photo-item {
		flex-basis: 50%;
		height: 250px;
	}
	.photo-item:last-child, .grid-item:last-child, .mockup {
		display: none;
	}
	.grid {
		grid-template: 1fr 1fr 1fr 1fr /1fr 1fr;
	}
	.team {
		flex-wrap: wrap;
	}
	.team-item {
		flex-basis: 100%;
		margin-bottom: 20px;
	}
	.team-thumb {
		margin: 0 auto 15px;
	}
	.team-thumb, .team-thumb img {
		height: 200px;
		width: 200px;
	}
	.team-social {
		margin-top: 11px;
	}
	.box-stat svg {
		font-size: 40px;
	}
	.footer-text {
		flex-direction: column;
	}
	.box-text {
		width: 100%;
	}
}
@media (max-width: 978px) {
	.nav-top {
		justify-content: center;
		flex-wrap: wrap;
		padding-bottom: 0;
	}
	.info {
		margin-top: 0;
	}
	.page-line {
		border-bottom: none;
	}
	.box-item {
		padding: 20px 30px 20px;
		box-sizing: content-box;
	}
	.box .box-icon {
		display: none;

	}
	.box-item-center {
		border-left: none;
		border-right: none;
	}
	.box{
		border-left: none;
		border-right: none;
		flex-direction: column;
	}
}
@media (max-width: 576px) {
	.logo {
	    width: 115px;
	}
	.element {
  	  height: 50px;  
	}

	.grid {
   		 grid-gap: 67px 47px;
   	}
   	.title p {
	    font-size: 15px;
	}
   	.title h1 {
   		font-size:29px; 
   	}
   	.page-bg .title p {
	    margin-bottom: 19px;
	}
	.btn {
		 padding: 13px 27px;
	}
	.page-bg .title h1 {
	    margin-bottom: 32px;
	}
	.text-blog h3 {
    	font-size: 16px;
    	margin-top: -22px;
    }
    }
	.text-blog ul > li {
	    font-size: 12px;
	}
	.text-blog p {
	    line-height: 23px;
	    font-size: 13px;
	}
	.blog-share {
	    left: 18px;
	}
	.page-blog {
	    margin-bottom: 0px;
	}
	.page-company {
	    padding-top: 70px;
	    padding-bottom: 80px;
	}
	.company {
    	flex-wrap: wrap;
    }
    .company-item {
    	margin-top: 20px;
    }
    .company-two {
	    flex-basis: 161px;
	    background-position: -194px center;
	}
	.company-three {
	    flex-basis: 152px;
	    background-position: -412px center;
	}
	.company-five {
	    flex-basis: 93px;
	}
	.company-six {
		flex-basis: 154px;
	}

}
@media (max-width: 320px) {
	.info {
	   flex-wrap: wrap;
	}
	.title p {
	    font-size: 12px;
	    margin-top: -15px;
	}
	.title h1 {
	    font-size: 19px;
	    line-height: 24px;
	}
	.box h2 {
	    font-size: 18px;
	}
	.decription {
	    line-height: 21px;
	    font-size: 12px;
	}
	.box-item {
	    padding: 3px 30px 20px;
	}
	.page-mockup {
	    margin-top: 0px;
	    padding-bottom: 67px;
	}
	.list-decription {
	    font-size: 12px;
	}
	.photo-item {
	    flex-basis: 100%;
	}
	.grid {
	    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr /1fr;
	}
	.page-stat .box-stat {
	    flex-wrap: wrap;
	}
	.box-stat-item {
		margin-bottom: 20px;
	}
}
