body{
	/*font-family: 'Raleway', sans-serif;*/
  font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.center {
	text-align: center;
}
.wrapper {
	width: 100%;
	max-width: 1170px;
	
	margin: 0 auto;
	position: relative;
}
.header {
	padding-bottom: 214px;
	background-image: url(../img/BG.png);
	/*background-size: contain;
	background-repeat: no-repeat; */
}
.nav-top {
	display: flex; /*так как является родительским эл*/
	justify-content: space-between;/*разъехались по бокам*/
	align-items: center;
}
.info {
	display: flex;
	padding-left: 0;
	list-style-type: none;
	align-items: center;

}
.info-item,
.info-link {
	color: rgba(255,255,255,0.3);
	font-size: 14px;
}
.info-link:hover {
	color: #30a3f0;
}
.info-left .info-item {
	margin-right: 32px;
}
.info-right .info-item {
	margin-left: 6px;
}
.info-link {
	text-decoration: none;
}
.info-link svg {
	color: #30a3f0;
	margin-right: 11px;
}
.register::before {  /*слеш*/
	content: '/';
	margin-right: 6px;
}
.nav-btn {
	background-color: transparent;
	border: none;
}
.nav-btn svg {
	color: #444444;
	padding: 0;
}
.logo {
	width: 158px;
}
.head { /*nav*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 26px 40px 25px;
	margin-bottom: 220px;
	background-color: #fff;
}
.nav {
	list-style-type: none;
	padding-left: 0;
	display: flex;

}
.nav-item {
	margin-left: 8px;  /*46-19padding-19*/
}
.nav-item-btn {
	margin-left: 21px;
}
.nav-link {
	color: #444444;
	text-decoration: none;
	padding: 11px 19px 12px; /*magic? = добавляется для каждого*/
	border: 1px solid transparent;/*прозрачный*/
}
.nav-link.active {
	color: #30a3f0;
	border: 1px solid #30a3f0;
	border-radius: 5px;
	padding: 11px 19px 12px;
}
.nav-link:hover {
	color: #30a3f0;
	border-radius: 5px;
}
.title {
	margin-bottom: 40px;
}
.title p {
	color: #30a3f0;
	font-size: 18px;
}
.title h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 45px;
	line-height: 60px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800; 
	max-width: 720px;
	margin: 0 auto;
}
.element{
	/*element горизонтальная линия*/
	width: 1px;
	height: 100px;
	margin: 0 auto;
	background-color: #30a3f0;
}
.element-top {
	margin-bottom: 29px;
}
.element-bottom {
	margin-top: 32px;
}
.btn {
	color: #30a3f0; 
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	padding: 20px 42px;
	text-decoration: none;
	border: 1px solid #30a3f0;
	border-radius: 5px;
	transition: background-color 0.5s linear, color 0.2s ease;
}
.btn:hover {
	background-color: #30a3f0;
	color: #fff;
}
.page-line {
	border-bottom: 1px solid #e4e4e4;
}
.page-grey {
	background-color: #fafafa;
	padding-top: 100px;
	/*padding-bottom: 62px;*/
}
.page-company {
	background-color: #fdfdfd;
	padding-top: 100px;
	padding-bottom: 100px;
}
.box {
	display: flex;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}
.box-item {
	flex-basis: 33.333%;
	padding: 93px 60px 110px;
}
.box-item-center {
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}
.box h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 27px;
}
.title-h2 {
	font-size: 30px;
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	margin-bottom: 14px;
}
.title-h2 span {
	font-size: 16px;
	color: #30a3f0; 
	display: block;
	font-weight: 400;
	text-transform: initial;
	margin-bottom: 18px;
}
.line {
	display: block;
	width: 53px;
	height: 16px;
	background-image: url(../img/line.svg);
	background-repeat: no-repeat;
}
.line-center {
	display: block;
	width: 90px;
	height: 14px;
	background-image: url(../img/line-center.svg);
	background-repeat: no-repeat;
	margin: 0 auto 30px;
}

.decription {
	color: #707070;
	line-height: 26px;
}
.page-grey .decription,
.page-team .decription,
.page-blog .decription {
	max-width: 690px;
	margin: 0 auto;
}
.list-decription {
	color: #222222;
	padding-left: 0;
	list-style-type: none;
	margin-top: 40px;
	margin-bottom: 60px; /*+20 так как считаем от текста*/
}
.list-decription > li {
	margin-bottom: 27px;
	color: #222222;
	padding-left: 37px;
	position: relative;
}
.list-decription > li::before {
	content: '';
	display: block;
	width: 16px;
	height: 14px;
	background-image: url(../img/checkMark.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 0;
	top: calc(50%-7px);
}
.page-mockup {
	margin-top: 100px;
	padding-bottom: 100px;
}
.mockup {
	display: block;
	width: 625px;
	height: 557px;
	background-image: url(../img/mockup.png);
	background-size: contain; 
	background-repeat: no-repeat;
	position: absolute;
	right: -78px;
	bottom: 0;
}
.btn-blue{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #30a3f0;
	padding: 21px 39px 19px;
	border: 1px solid #30a3f0;
	border-radius: 5px;
	transition: background-color 0.5s linear, color 0.2s ease;
}
.btn-blue:hover {
	background-color: #fff;
	border: 1px solid #30a3f0;
	border-radius: 5px;
	color: #30a3f0;
}
.box-text {
	max-width: 527px;
}
.box-icon {
	width: 152px;
	height: 152px;
	font-size: 40px;
	color: #222222;
	line-height: 3.5;
	background-image: url(../img/grey.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin:0 auto 26px;
}
.box-icon-pen {
	font-size: 30px;
	line-height: 4.8;
}
.box-item:hover .box-icon{
	background-image: url(../img/blue.png);
	color: #fff;
}
.photo {
	display: flex;
	margin-top: 62px;
}
.photo-item {
	overflow: hidden;
	flex-basis: 20%;
	height: 350px;
	position: relative;
}
.photo-item img {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	height: 350px;
	z-index: -1;
}
.photo-text {
	position: absolute;
	width: 100%;
	text-align: center;
	top: calc(40%);
	/*top: calc(50%-30px);/*не работает*/
	display: none;
}
.photo-text h3 {
	font-size: 22px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	margin-bottom: 14px;
	margin-top: 0;
	text-transform: uppercase;
}
.photo-text p {
	color: #707070;
	margin-bottom: 0;
}
.photo-btn {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	right: 0;
	bottom: 11px;
	display: none;
}
.photo-btn a {
	color: #000;
	background-color: #fff;
	padding: 22px 22px;
}
.photo-btn .photo-btn-blue {
	color: #fff;
	background-color: #30a3f0;
}
.photo-item:hover {
	background-color: rgba(34,34,34,0.8);
}
.photo-item:hover .photo-text {
	display: block;	
}
.photo-item:hover .photo-btn {
	display: block;	
}
.grid {
	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	grid-gap: 70px 50px;
	margin-top: 122px;
	margin-bottom: 126px;
}
.grid h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 22px;
	margin-top: 0;
}
.grid .decription{
	margin-bottom: 0;
}
/*для постановки в сточку*/
.grid-line { 
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.box-icon-min {
	font-size: 24px;
	width: 96px;
	height: 96px;
	background-size: 96px 96px;
	flex-basis: 96px;
	text-align: center;
	line-height: 3.8;
	margin: initial;
}
.grid-line-text {
	/*flex-basis: calc(100%-96px);*/
	flex-basis: 200px;
}
.grid-line:hover .box-icon{
	background-image: url(../img/blue0.png);
	color: #fff;
}
.page-bg {
	background-image: url(../img/bg2.png);
	background-size: cover;
	padding-top: 110px;
	padding-bottom: 112px;
}
.page-bg .title {
	margin-bottom: 0px;
}
.page-bg .title h1 {
	margin-bottom: 40px;
}
.page-bg .element-bottom {
	margin-top: 53px;
}
.page-team {
	padding-top: 100px;
	padding-bottom: 100px;
	
}
.team {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 60px;
}
.team-item {
	flex-basis: 32%;
}
.team-thumb {
	margin-bottom: 40px;
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 370px;
}
.team-thumb img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	z-index: -1;
}
.team-item:hover .team-thumb {
	background-color: rgba(255, 255, 255, 0);
}
.team-position {
	font-size: 14px;
	color: #30a3f0;
	margin-bottom: 14px;
}
.team-name {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #222222;
	font-size: 20px;/**/
	margin-bottom: 20px;
}
.team-social {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	justify-content: center;
}
.team-social-item {
	margin-right: 5px;
	margin-left: 5px;
}
.team-social-item >a {
	color: #c9c9c9;
	text-decoration: none;
	background-image: url(../img/grey.png);
	background-size: 40px 40px;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 14px;
	line-height: 2.8;
}
.team-social-item >a:hover {
	color: #fff;
	background-image: url(../img/blue0.png);
}
.screen {
	margin-top: 57px;

}
.page-stat {
	background-color: #111111;
	color: #fff;
	padding-top: 116px; 
	padding-bottom: 114px;
}
.box-stat {
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.box-stat svg {
	color: #30a3f0;
	font-size: 60px;

}
.box-stat h3 {
	font-weight: 700;
	font-size: 50px;
	margin-top: 36px;
	margin-bottom: 0;
}
.box-stat h3 span {
	color: #707070;
	font-weight: 400;
	display: block;
	font-size: 16px;
	margin-bottom: 24px;

}
.blog {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr ;
	grid-gap: 30px;
	margin-top: 60px;
}
.blog-flex {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
}
.page-blog {
	margin-top: 100px;
	margin-bottom: 100px;
}
/*down eye*/
.thumb-blog-eye {
	position: absolute;
	/*display: flex;
	justify-content: center;
	margin: 145px 112px 165px;*/
	width: 100%;
	text-align: center;
	top: calc(40%);
	display: none;
}
.thumb-blog-eye svg {
	color: #fff;
	font-size: 50px;
}

/**/
.thumb-blog {
	position: relative;
	width: 285px;
	flex-basis: 285px;
	overflow: hidden;

}
.thumb-blog img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	z-index: -1;
}
.thumb-blog:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
.thumb-blog:hover .thumb-blog-eye{
	display: block;
}

.thumb-blog::after {
	content: '';
	background-image: url(../img/triangle.png);
	width: 21px;
	height: 42px;
	display: block;
	position: absolute;
	right: 0;
	top: 39px;
}
/**/
/*.blog-share button > i {
	margin-right: 100px;
}*/
.blog-share {
	position: absolute;
	/*display: flex;
	justify-content: flex-end;*/
	/*left: 68px;
	bottom: 23px;*/
	
	bottom: 25px;
	left: 60px;
}
.blog-share button {
	background-color: #fff;
	color: #707070;
	padding: 9px 13px;
	list-style-type: none;
	border: 1px solid #fff;
	border-radius: 5px;/**/
}
.blog-share .comments {
	background-color: #30a3f0;
	color: #fff;
	margin-right: 20px;
	border: 1px solid #30a3f0;
	border-radius: 5px;
}
/**/
.text-blog {
	padding: 45px 37px 50px;
	background-color: #fafafa;
	/*flex-basis: calc(100%-285px);*/
	flex-basis: 285px;
}
.text-blog h3 {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	margin-top: 0;
}
.text-blog ul {
	list-style-type: none;
	padding-left: 0;
	text-transform: uppercase;
	color: #444444;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 27px;
}
.text-blog ul > li {
	padding-right: 17px;
	margin-right: 19px;
	border-right: 1px solid #707070;
}
.text-blog ul > li:last-child {
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}
.text-blog ul > li > a {
	color: #444444;
	text-decoration: none;
}
.text-blog p{
	color: #444444;
	line-height: 26px;
}
.text-blog a {
	text-decoration: none;
	color: #30a3f0;
}
.text-blog a span{
	margin-right: 10px;
}
.company {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.company-item {
	display: block;
	background-image: url(../img/company.png);
	background-repeat: no-repeat;
	height: 93px;

}
.company-one {
	width: 118px;
	flex-basis: 118px;
	background-position: -17px center;
}
.company-two {
	width: 126px;
	flex-basis: 126px;
	background-position: -213px center;
}
.company-three {
	width: 96px;
	flex-basis: 96px;
	background-position: -428px center;
}
.company-four {
	width: 122px;
	flex-basis: 122px;
	background-position: -616px center;
}
.company-five {
	width: 92px;
	flex-basis: 92px;
	background-position: -831px center;
}
.company-six {
	width: 130px;
	flex-basis: 130px;
	background-position: -1012px center;
}
.footer {
	background-color: #151515;
}
.btn-footer {
	background-color: #1a1a1a;
	color: #707070;
	font-size: 26px;
	width: 47px;
	height: 34px;
	display: block;
	margin: 0 auto;
	border: none;
	cursor: pointer;
}
.btn-footer:focus {
	outline: none;
}
.footer-bg {
	background-color: #1a1a1a;
	padding-top: 28px;
	padding-bottom: 28px;
}
.footer-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	color: rgba(255,255,255,0.3);
}
.footer-list {
	display: flex;
	list-style-type: none;
	padding-left: 0;

}
.footer-list >li {
	padding-left: 24px;
	margin-left: 22px;
	border-left: 1px solid #3a3a3a;
}
.footer-list >li:first-child {
	padding-left: 0;
	margin-left: 0;
	border-left: none;
}
.footer-list >li >a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.3);
}