body{
	/*font-family: 'Raleway', sans-serif;*/
  font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.center {
	text-align: center;
}
.wrapper {
	width: 100%;
	max-width: 1170px;
	
	margin: 0 auto;
	position: relative;
}
.header {
	padding-bottom: 214px;
	background-image: url(../img/BG.png);
	/*background-size: contain;
	background-repeat: no-repeat; */
}
.nav-top {
	display: flex; /*так как является родительским эл*/
	justify-content: space-between;/*разъехались по бокам*/
	align-items: center;
}
.info {
	display: flex;
	padding-left: 0;
	list-style-type: none;
	align-items: center;

}
.info-item,
.info-link {
	color: rgba(255,255,255,0.3);
	font-size: 14px;
}
.info-link:hover {
	color: #30a3f0;
}
.info-left .info-item {
	margin-right: 32px;
}
.info-right .info-item {
	margin-left: 6px;
}
.info-link {
	text-decoration: none;
}
.info-link svg {
	color: #30a3f0;
	margin-right: 11px;
}
.register::before {  /*слеш*/
	content: '/';
	margin-right: 6px;
}
.nav-btn {
	background-color: transparent;
	border: none;
}
.nav-btn svg {
	color: #444444;
	padding: 0;
}
.logo {
	width: 158px;
}
.head { /*nav*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 26px 40px 25px;
	margin-bottom: 220px;
	background-color: #fff;
}
.nav {
	list-style-type: none;
	padding-left: 0;
	display: flex;

}
.nav-item {
	margin-left: 8px;  /*46-19padding-19*/
}
.nav-item-btn {
	margin-left: 21px;
}
.nav-link {
	color: #444444;
	text-decoration: none;
	padding: 11px 19px 12px; /*magic? = добавляется для каждого*/
	border: 1px solid transparent;/*прозрачный*/
}
.nav-link.active {
	color: #30a3f0;
	border: 1px solid #30a3f0;
	border-radius: 5px;
	padding: 11px 19px 12px;
}
.nav-link:hover {
	color: #30a3f0;
	border-radius: 5px;
}
.title {
	margin-bottom: 40px;
}
.title p {
	color: #30a3f0;
	font-size: 18px;
}
.title h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 45px;
	line-height: 60px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800; 
	max-width: 720px;
	margin: 0 auto;
}
.element{
	/*element горизонтальная линия*/
	width: 1px;
	height: 100px;
	margin: 0 auto;
	background-color: #30a3f0;
}
.element-top {
	margin-bottom: 29px;
}
.element-bottom {
	margin-top: 32px;
}
.btn {
	color: #30a3f0; 
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	padding: 20px 42px;
	text-decoration: none;
	border: 1px solid #30a3f0;
	border-radius: 5px;
}
.btn:hover {
	background-color: #30a3f0;
	color: #fff;
}
.page-line {
	border-bottom: 1px solid #e4e4e4;
}
.page-grey {
	background-color: #fafafa;
	padding-top: 100px;
	padding-bottom: 62px;
}
.box {
	display: flex;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}
.box-item {
	flex-basis: 33.333%;
	padding: 93px 60px 110px;
}
.box-item-center {
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}
.box h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 27px;
}
.title-h2 {
	font-size: 30px;
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	margin-bottom: 14px;
}
.title-h2 span {
	font-size: 16px;
	color: #30a3f0; 
	display: block;
	font-weight: 400;
	text-transform: initial;
	margin-bottom: 18px;
}
.line {
	display: block;
	width: 53px;
	height: 16px;
	background-image: url(../img/line.svg);
	background-repeat: no-repeat;
}
.line-center {
	display: block;
	width: 90px;
	height: 14px;
	background-image: url(../img/line-center.svg);
	background-repeat: no-repeat;
	margin: 0 auto 30px;
}

.decription {
	color: #707070;
	line-height: 26px;
}
.page-grey .decription {
	max-width: 690px;
	margin: 0 auto;
}
.list-decription {
	color: #222222;
	padding-left: 0;
	list-style-type: none;
	margin-top: 40px;
	margin-bottom: 60px; /*+20 так как считаем от текста*/
}
.list-decription > li {
	margin-bottom: 27px;
	color: #222222;
	padding-left: 37px;
	position: relative;
}
.list-decription > li::before {
	content: '';
	display: block;
	width: 16px;
	height: 14px;
	background-image: url(../img/checkMark.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 0;
	top: calc(50%-7px);
}
.page-mockup {
	margin-top: 100px;
	padding-bottom: 100px;
}
.mockup {
	display: block;
	width: 625px;
	height: 557px;
	background-image: url(../img/mockup.png);
	background-size: contain; 
	background-repeat: no-repeat;
	position: absolute;
	right: -78px;
	bottom: 0;
}
.btn-blue{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #30a3f0;
	padding: 21px 39px 19px;
	border: 1px solid #30a3f0;
	border-radius: 5px;

}
.btn-blue:hover {
	background-color: #fff;
	border: 1px solid #30a3f0;
	border-radius: 5px;
	color: #30a3f0;
}
.box-text {
	max-width: 527px;
}
.box-icon {
	width: 152px;
	height: 152px;
	font-size: 40px;
	color: #222222;
	line-height: 3.5;
	background-image: url(../img/grey.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin:0 auto 26px;
}
.box-icon-pen {
	font-size: 30px;
	line-height: 4.8;
}
.box-item:hover .box-icon{
	background-image: url(../img/blue.png);
	color: #fff;
}
.photo {
	display: flex;
}
.photo-item {
	overflow: hidden;
	flex-basis: 20%;
	height: 350px;
	position: relative;
}
.photo-item img {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	height: 350px;
	z-index: -1;
}
.photo-text {
	position: absolute;
	width: 100%;
	text-align: center;
	top: calc(40%);
	/*top: calc(50%-30px);/*не работает*/
	display: none;
}
.photo-text h3 {
	font-size: 22px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	margin-bottom: 14px;
	margin-top: 0;
	text-transform: uppercase;
}
.photo-text p {
	color: #707070;
	margin-bottom: 0;
}
.photo-btn {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	right: 0;
	bottom: 0;
	display: none;
}
.photo-btn a {
	color: #000;
	background-color: #fff;
	padding: 22px 22px;
}
.photo-btn .photo-btn-blue {
	color: #fff;
	background-color: #30a3f0;
}
.photo-item:hover {
	background-color: rgba(34,34,34,0.8);
}
.photo-item:hover .photo-text {
	display: block;	
}
.photo-item:hover .photo-btn {
	display: block;	
}
